@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,500;1,100&family=Lora:ital@1&display=swap");
.login {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  height: 100vh;
}

.lleft {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  margin-top: 5rem;
}

.lright {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("../../../public/images/15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header > h2 {
  margin: 0;
  color: #ff2d55;
}

.header > h4 {
  margin-top: 2rem;
  font-weight: normal;
  font-size: 14px;
  color: #ff2d55;
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: left;
  margin-top: 0.4rem;
}

.form > p > a {
  color: rgb(19, 19, 19);
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Lora", serif;
  font-weight: 100;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #242a37;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #242a37 0%, #ff2d55 100%);
  border-radius: 5px;
  margin-top: 2em;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  cursor: pointer;
}
.form > button:disabled {
  cursor: not-allowed;
}

.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
