.table {
  .tableCell {
    font-size: 0.8em;
  }
  .tableRow {
    font-size: 0.7em;
    color: #868686;
    .productWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .productImg {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .Approved {
      padding: 6px;
      border-radius: 5px;
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    .Pending {
      padding: 6px 8px;
      border-radius: 5px;
      color: rgb(207, 157, 31);
      background-color: rgba(189, 189, 3, 0.123);
    }
  }
}
