@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
.sidebar {
  background-color: #ffffff;
  flex: 1;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 6px 15px 20px #b5b6b97a;

  .top {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;

    .mainlogo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .logo {
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 400;
        color: #ff2d55;
        margin: 0.5rem 1.2rem;
        cursor: pointer;
      }
      hr {
        background-color: rgb(173, 173, 173);
        width: 85%;
        height: 1px;

        border: 0;
      }
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span {
        font-family: "Montserrat", sans-serif;
        padding-inline-start: 0.6em;
      }
      .link {
        margin-left: 10px;
        font-size: 0.7rem;
        font-weight: bold;
        text-decoration: none;
        color: #242a37;
      }
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 30px;
        object-fit: cover;
        box-shadow: 5px 11px 23px #f14c6a54;
      }
    }
  }

  .center {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding: 0.7rem 1rem;
        color: #242a37;
        transform: translate(0px 0px);
        cursor: pointer;

        &:hover {
          background-color: rgba(187, 185, 185, 0.301);
          border-radius: 10px;
          color: #ff2d53e5;
          box-shadow: 0px 0px 20px rgba(90, 90, 90, 0.201);
          transform: translate(18px, 0px);
        }
        .link {
          text-decoration: none;
          color: #242a37;
          font-size: 0.9rem;
          font-weight: 300;
          font-family: "Montserrat", sans-serif;
        }
        // &:hover::after {
        //   content: "";
        //   z-index: 0;
        //   width: 2.1rem;
        //   height: 2.1rem;
        //   background: #ffffffe5;
        //   border-radius: 50%;
        //   position: absolute;
        //   top: 14%;
        //   left: 80%;
        // }

        .icon {
          font-size: 1rem;
          padding-inline: 8px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;

    margin: 1em;

    .colorOpt {
      width: 18%;
      height: 1.2rem;
      border-radius: 5px;
      margin-inline: 0.5em;
      border: 1px solid #ff2d55;
      cursor: pointer;
      &:nth-child(1) {
        background-color: aliceblue;
      }
      &:nth-child(2) {
        background-color: #242a37;
      }
    }
  }
}
